@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
    --blue: #75B5EE;
    --white: #ffff;
    --vinil-green: #34526B; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--blue);
    font-family: Signika;
    /*overflow-y: hidden;*/
}

    .wrapper {
    display: grid;
    margin: 10px auto;
    max-width: 350px;
    max-height: 780px;
    border-radius: 15px;
    background: #75B5EE;
    box-shadow: 6px 6px 15px #69a3d6,
    -6px -6px 15px #81c7ff ;
    grid-template-rows: 110px 350px 180px auto ;
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
background: #75B5EE;
box-shadow:  6px 6px 15px #69a3d6,
             -6px -6px 15px #81c7ff;
}
.header p {
    font-size: 2.4rem;color: var(--white);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin {
    width: 260px;
    height: 260px;
} 

.spin:hover {
    transform: rotate(360deg);
    transition: 10s ease-in-out;
    animation-iteration-count: infinite;
   
}

.vinil-leg {
    position: absolute;
    align-self: flex-end;
    position: absolute;
    left: -17px ;
    bottom: 126px;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.bar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 180px;
}
   
.title {
    font-size: 3.6rem;
    color: var(--vinil-green);
}

.line {
    position: absolute;
    width: 200px;
    height: 1px;
    background-color: var(--vinil-green);
    margin: 0 auto;
    top: calc(30% - 1px);

}

.subtitle {
    font-size: 2.4rem;
    color: var(--vinil-green);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.play-container {
    display: flex;
    width: 300px;
    height: 180px;
    align-items:center;
    justify-content: center;
    padding-bottom: 80px;
}  
.pause {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
    
}

.pause span {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 12px);
}  

.foward {
    position: relative;
    left: 10%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
}

.foward span {
    position: relative;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
    
}

 .back {
    position: relative;
    right: 10%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
}

.back span {
    position: relative;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

/*MENU-SECTION-STYLES*/

.menu-header {
    display: flex;
    position: relative;
    justify-content: center;
    width: 290px;
    height: 70px;
    align-items: center;
    font-size: 2.6rem;
    margin: 10px auto;
}

.header__icons {
    display: flex;
    position:absolute;
    width: 290px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.header__line {
    position: absolute;
    background-color: var(--vinil-green);
    width: 260px;
    height: 2px;
    border-radius: 2px;
    bottom: calc(5% - 10px);
    left: calc(15% - 30px);
}

.list {
    margin-top: 30px;
}

.menu-title {
    display: flex;
    flex-direction: column;  
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 320px;
    min-height: 500px;
    max-height: 600px;
    margin: 0 auto;
    padding-left:  20px;
}   

.music-box {
    display: flex;
    width: 290px;
    min-height: 40px;
    margin: 0px 0 15px 0;
    padding: 0 20px 0 20px;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 5px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left;
}

.music-box:hover {
    border-radius: 5px;
    box-shadow: inset 5px 5px 7px #6094c3,
                inset -5px -5px 7px #8ad6ff;
}

.song-name {
    font-size: 1.8rem;
}

.artist {
    font-size: 1.4rem;
    color: var(--vinil-green);
}

.playing {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 40px;
    width: 290px;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    padding-bottom: 10px;
    
}

.playing__song {
    font-size: 2.5rem;
}

.playing__artist {
    font-size: 2rem;
    color: var(--vinil-green)
}

.playing__line {
    position: absolute;
    bottom: calc(20% - 10px);
    left: calc(15% - 30px);
    background-color: var(--vinil-green);
    width: 260px;
    height: 2px;
    border-radius: 2px;
    
}

.menu-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menu-footer__icons {
    display: flex;
    width: 290px;
    justify-content: space-between;
    align-items: center;
   

}
