@import url('https://fonts.googleapis.com/css2?family=Signika:wght@600&display=swap');

:root {
    --blue: #75B5EE;
    --white: #ffff;
    --vinil-green: #34526B; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--blue);
    font-family: Signika;
}

.wrapper {
    display: grid;
    grid-template-rows: 110px 350px 180px auto ;
    height: 100vh;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px 0 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
background: #75B5EE;
box-shadow:  6px 6px 15px #69a3d6,
             -6px -6px 15px #81c7ff;
}
.header p {
    font-size: 2.4rem;color: var(--white);
}

.cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1 img {
    width: 260px;
    height: 260px;
    
} 

.vinil-leg {
    position: absolute;
    align-self: flex-end;
        
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.bar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 180px;
}

.vinil-leg {
    position: absolute;
    left: -17px ;
    bottom: 126px;
}
.title {
    font-size: 3.6rem;
    color: var(--vinil-green);
}

.subtitle {
    font-size: 2.4rem;
    color: var(--vinil-green);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.pause {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
}

.pause span {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 12px);
}  

.foward {
    display: flex;
    position: absolute;
    right: 15%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
}

.foward span {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 11px);
    
}

 .back {
    position: absolute;
    left: 15%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow:  20px 20px 60px #639aca,
    -20px -20px 60px #87d0ff;
}

.back span {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 11px);



